.gradiant-blue
{
    background: rgb(197,202,233);
    background: linear-gradient(180deg, rgba(197,202,233,1) 0%, rgba(197,202,233,1) 23%, rgba(43,100,110,1) 100%);
    color:whitesmoke;
}
.gradiant-head
{

    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(86,84,106,1) 23%, rgba(0,212,255,1) 100%);
}

.background-white
{
    background: white;
    color: black;
}
.background-black
{
    background: black;
    color: white;
}
table{
    color: black;
}
.rounded-form
{
    border-radius: 100px;
}
.tooltip {
    display: none;
    position: absolute;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
}

.invalid {
    border: 1px solid red;
}
.error-message {
    display: block;
    color: #e53935;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}